<head>
  <title>Beerplop</title>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="author" content="WOL-Soft" />
  <meta name="title" content="{{ translator.translate('meta.title') }}" />
  <meta name="description" content="{{ translator.translate('meta.description') }}" />
  <meta name="keyword" content="Beerplop" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="msapplication-starturl" content="/plop">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="dist/css/beerplop{{ app.conf.beerplopversion }}.min.css" />

  {% if js %}
    <script type="text/javascript" src="dist/js/beerplop-{{ js }}-{{ app.conf.beerplopversion }}.min.js"></script>
  {% endif %}

  {% if app.conf.environment == 'PROD' %}
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ app.conf.gtm_id }}');
    </script>
  {% endif %}
</head>