<div class="full row">
  <div class="overlay-bg"></div>
  <div id="force-translator-language" data-value="en" ></div>

  <div class="d-none d-xl-block col-xl-4 col-xxl-3 special-buildings-container overlay-container"
       data-overlay="special-buildings"
  >
    <div>
      <div class="close-overlay">
        <h2 class="overlay-title">{{ translator.translate('mobile.button.special') }}</h2>
        <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}" data-target="special-buildings">
          <span>&times;</span>
        </button>
      </div>

      <div class="panel-group" id="side-accordion">
        <div id="panel-bottle-cap-factory" class="panel panel-default">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#special-building-bottle-cap-factory"
             href="#special-building-bottle-cap-factory"
             aria-expanded="true"
          >
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ translator.translate('building.bottleCapFactory') }}
                <span id="bottle-caps">
                  <span class="float-right">(<span class="bottle-caps-amount">0</span>)</span>
                </span>
              </h4>
            </div>
          </a>

          <div id="special-building-bottle-cap-factory" class="panel-collapse collapse in show">
            <div class="panel-body clearfix">
              <div class="float-right beerwarts__enchant-building-container d-none">
                <i class="fas fa-magic beerwarts__enchant-building" data-building-key="bottleCapFactory"></i>
                <span class="enchantment-level">
                  (<span class="enchantment-level__bottleCapFactory"></span>)
                </span>
              </div>

              <div id="building-container-popover-bottleCapFactory"
                   class="float-right building-container-popover details-modal-button"
                   data-toggle="popover"
                   data-trigger="hover"
                   data-boundary="window"
                   data-placement="right"
                   title="{{ translator.translate('building.bottleCapFactory.plural') }}"
                   data-html="true"
                   data-building-key="bottleCapFactory"
              >
                <svg aria-label="{{ translator.translate(
                    'aria.buildingDetails',
                    {'__BUILDING__': translator.translate('building.bottleCapFactory.plural')}
                  ) }}"
                >
                  <use xlink:href="#svg-bottleCapFactory"></use>
                </svg>
              </div>

              {{ translator.translate('building.bottleCapFactory.plural') }}: <span class="bottle-cap-factories">0</span><br />

              <span class="building-container__costs-label">
                {{ translator.translate('costs') }}: {{
                  translator.translate(
                    'plopValue',
                    {'__PLOPS__': '<span class="cost-next-bottle-cap-factory label-cost">100</span>'}
                  ) | raw
                }}
              </span>
              <span class="building-container__costs-label d-none">
                {{ translator.translate('available') }}: <span id="available-bottle-cap-factories"></span>
              </span>
              <br /><br />

              {{ translator.translate('bottleCap.plural') }}: <span class="bottle-caps-amount">0</span><br />
              {{ translator.translate('bottleCapsPerSecond') }}: <span class="bottle-caps-per-second">0</span><br />
              {{ translator.translate('bottleCapsTotal') }}: <span id="bottle-caps-amount-total">0</span><br />
              <fieldset class="float-left fieldset-buy" disabled>
                <button id="buy-bottle-cap-factory"
                        type="button"
                        class="btn btn-raised btn-primary"
                >
                  {{ translator.translate('building.bottleCapFactory') }}
                </button>
              </fieldset>

              <div class="level-up-bottle-cap-factory-tooltip float-right"
                   data-toggle="tooltip"
                   data-boundary="window"
                   data-placement="left"
                   data-html="true"
              >
                <fieldset disabled>
                  <button id="level-up-bottle-cap-factory"
                          type="button"
                          class="btn btn-raised btn-secondary level-up"
                  >
                    {{ translator.translate('building.levelUp', {'__LEVEL__': 'I'}) }}
                  </button>
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div id="stock-market-control" class="panel panel-default d-none">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#stock-market"
             href="#stock-market"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ translator.translate('stockMarket.title') }}
                <span class="float-right">(<span class="stock-market-balance">0</span>)</span>
              </h4>
            </div>
          </a>

          <div id="stock-market" class="panel-collapse collapse in">
            <div class="panel-body stock-market-panel">
              <div class="panel-body">
                <button id="stock-market__join"
                        type="button"
                        class="btn btn-raised btn-primary toggle-overlay"
                        data-target="stock-market"
                        data-callback="stock-market"
                >
                  {{ translator.translate('stockMarket.join') }}
                </button>

                <button id="stock-market__close-all"
                        type="button"
                        class="btn btn-raised btn-secondary float-right d-none"
                >
                  {{ translator.translate('stockMarket.closeAll') }}
                </button>
                <br /><br />

                <div id="stock-market-overview-hold"></div>
              </div>

              <div id="stock-market-main-diagram"></div>
            </div>
          </div>
        </div>

        <div id="beer-blender-control" class="panel panel-default d-none">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#beer-blender"
             href="#beer-blender"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">{{ translator.translate('beerBlender.title') }}</h4>
            </div>
          </a>

          <div id="beer-blender" class="panel-collapse collapse in">
            <div class="panel-body beer-blender-panel">
              <div id="beer-blender__body" class="panel-body"></div>
            </div>
          </div>
        </div>

        <div id="beer-bank-control" class="panel panel-default d-none">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#beer-bank"
             href="#beer-bank"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ translator.translate('beerBank.title') }}
                <span class="float-right">
                  (<span class="beer-bank-account">0</span>, <b><span class="beer-bank-investment-percentage">0</span>%</b>)
                </span>
              </h4>
            </div>
          </a>

          <div id="beer-bank" class="panel-collapse collapse in">
            <div class="research-project-container">
              <h3>{{ translator.translate('beerBank.title') }}</h3>
              {{ translator.translate('beerBank.description') }}<br />
              {{ translator.translate('beerBank.invested') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span class="beer-bank-account">0</span>'}
                ) | raw
              }}<br />
              {{ translator.translate('beerBank.boost') }}: <span class="beer-bank-boost">0</span>%<br />

              {{ translator.translate('beerBank.investment') }}:
              <input type="text"
                     id="beer-bank-investment"
                     class="form-control"
                     data-provide="slider"
                     data-slider-min="0"
                     data-slider-max="100"
                     data-slider-step="10"
                     data-slider-value="0"
              />(<span class="beer-bank-investment-percentage">0</span>%)
            </div>

            <div id="beer-bank__banker-container" class="d-none research-project-container clearfix">
              <h4>{{ translator.translate('beerBankBanker.title') }}</h4>
              {{ translator.translate('beerBankBanker.shortDescription') }}<br />
              {{ translator.translate('beerBankBanker') }}: <span id="beer-bank__banker">0</span><br />
              {{ translator.translate('costs') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span id="beer-bank__cost-next-banker" class="label-cost"></span>'}
                ) | raw
              }}<br /><br />

              {{ translator.translate('beerBankBanker.table.investments') }}: <span id="beer-bank__banker__investments">0</span><br />
              {{ translator.translate('beerBankBanker.totalBalance') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span id="beer-bank__banker__balance">0</span>'}
                ) | raw
              }}<br /><br />

              <fieldset class="float-left">
                <button id="beer-bank__close-banker" type="button" class="btn btn-raised btn-danger">
                  {{ translator.translate('beerBankBanker.closeAll') }}
                </button>
                <button id="beer-bank__open-banker" type="button" class="btn btn-raised btn-primary d-none">
                  {{ translator.translate('beerBankBanker.start') }}
                </button>
              </fieldset>
              <br /><br />

              {{ translator.translate('beerBankBanker.open') }}: <span id="beer-bank__banker__open-investments">0</span><br />
              {{ translator.translate('beerBankBanker.invested') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span id="beer-bank__banker__current-investment">0</span>'}
                ) | raw
              }}<br />
              {{ translator.translate('beerBankBanker.balance') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span id="beer-bank__banker__current-balance">0</span>'}
                ) | raw
              }}<br />


              <fieldset class="float-left" disabled>
                <button id="beer-bank__hire-banker" type="button" class="btn btn-raised btn-primary">
                  {{ translator.translate('beerBankBanker.hire') }}
                </button>
              </fieldset>

              <div class="float-right">
                <button id="beer-bank__view-banker"
                        type="button"
                        class="btn btn-raised btn-secondary toggle-overlay"
                        data-target="beer-bank-banker"
                        data-callback="beer-bank-banker"
                >
                  {{ translator.translate('beerBankBanker.openOverlay') }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="research-project-control" class="panel panel-default d-none">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#research-project"
             href="#research-project"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ translator.translate('research.title') }}
                <span class="float-right">
                  (<span id="research-project__active">0</span> {{ translator.translate('research.active') }}, <b><span id="research-project__investment-percentage">0</span>%</b>)
                </span>
              </h4>
            </div>
          </a>

          <div id="research-project" class="panel-collapse collapse in"></div>
        </div>

        <div id="beerwarts-control" class="panel panel-default d-none">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#beerwarts"
             href="#beerwarts"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ translator.translate('beerwarts') }}
                <span class="float-right">(<span class="beerwarts__mana">0</span>)</span>
              </h4>
            </div>
          </a>

          <div id="beerwarts" class="panel-collapse collapse in">
            <div class="research-project-container clearfix">
              <h3>{{ translator.translate('beerwarts') }}</h3>
              {{ translator.translate('beerwarts.magician.plural') }}: <span id="beerwarts__magician">0</span><br />
              <span id="beerwarts__magician-in-training__container">
                {{ translator.translate('beerwarts.magiciansInTraining') }}: <span id="beerwarts__magician-in-training"></span><br />
              </span>

              {{ translator.translate('costs') }}: {{
                translator.translate(
                  'plopValue',
                  {'__PLOPS__': '<span id="beerwarts__cost-next-magician" class="label-cost"></span>'}
                ) | raw
              }}<br /><br />
              {{ translator.translate('beerwarts.mana') }}: <span class="beerwarts__mana">0</span><br />
              {{ translator.translate('beerwarts.manaPerSecond') }}: <span id="beerwarts__mana-per-second">0</span><br />
              {{ translator.translate('beerwarts.manaTotal') }}: <span id="beerwarts__mana-total">0</span><br />

              <fieldset class="float-left" disabled>
                <button id="beerwarts__hire-magician" type="button" class="btn btn-raised btn-primary">
                  {{ translator.translate('beerwarts.hire') }}
                </button>
              </fieldset>

              <div class="float-right">
                <button id="beerwarts__view-magicians"
                        type="button"
                        class="btn btn-raised btn-secondary toggle-overlay"
                        data-target="beerwarts"
                        data-callback="beerwarts"
                >
                  {{ translator.translate('beerwarts.openOverlay') }}
                </button>
              </div>
            </div>

            <div id="beerwarts__magician-school-container" class="d-none research-project-container clearfix">
              <h4>{{ translator.translate('beerwarts.school.title') }}</h4>
              <p>{{ translator.translate('beerwarts.school.description') }}</p>
              <div id="beerwarts__magician-school__control"></div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse"
             data-parent="#side-accordion"
             data-target="#game-state-control"
             href="#game-state-control"
             class="collapsed"
          >
            <div class="panel-heading">
              <h4 class="panel-title">{{ translator.translate('gameState') }}</h4>
            </div>
          </a>

          <div id="game-state-control" class="panel-collapse collapse in">
            <div class="panel-body">
              <button id="wipe-game" type="button" class="btn btn-raised btn-danger">{{ translator.translate('gameState.wipe') }}</button>
              <button id="save-states" type="button" class="btn btn-raised btn-success">{{ translator.translate('gameState.save') }}</button>
              <button id="start-lobby" type="button" class="btn btn-raised btn-secondary float-right">{{ translator.translate('gameState.startLobby') }}</button>
              <div id="ranking-container" class="container"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="info-container">
        <div>
          <div class="d-flex flex-row">
            <div class="flex-fill">
              <div class="align-content-center">
                <a href="wiki" target="_blank">{{ translator.translate('wiki') }}</a>
              </div>
              <div class="align-content-center">
                <a href="https://github.com/wol-soft/beerplop" target="_blank">{{ translator.translate('issues') }}</a>
              </div>
            </div>

            <button id="open-game-options-modal"
                    type="button"
                    class="btn btn-raised btn-secondary float-right"
            >
              {{ translator.translate('options') }}
            </button>
          </div>
          <hr />
          <div>
            <span class="float-left upgrade-available d-none">
              <abbr title="{{ translator.translate('newVersionHint') }}">
                <i class="fas fa-exclamation-triangle"></i>
              </abbr>
            </span>
            <span id="version"
                  class="float-left"
                  data-version="{{ app.conf.beerplopversion }}"
            >
              Beerplop v{{ app.conf.beerplopversion }} by WOL-Soft
            </span>

            <div class="float-right">
              <a href="https://twitter.com/beerplop?ref_src=twsrc%5Etfw"
                 class="twitter-follow-button"
                 data-size="large"
                 data-show-count="false"
              >
                Follow @beerplop
              </a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5 col-lg-6 col-xl-4 col-xxl-6 text-center main-container">
    <div>
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% include "/User/View/Modules/bootstrap-login.twig" with {
            'version': app.conf.beerplopversion,
            'forceLanguage': 2
          }
          %}

          <ul class="navbar-nav mr-left">
            <li class="nav-item toggle-overlay" data-target="achievements-overlay" data-callback="achievements">
              <a class="nav-link">{{ translator.translate('menu.achievements') }}</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item toggle-overlay" data-target="statistics-overlay" data-callback="statistics">
              <a class="nav-link">{{ translator.translate('menu.stats') }}</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-right">
            <li class="nav-item toggle-overlay" data-target="about-overlay">
              <a class="nav-link">{{ translator.translate('menu.about') }}</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="main-container-inner">
        <div id="enter-beer-factory"
             class="toggle-overlay d-none"
             data-target="beer-factory-overlay"
             data-callback="beer-factory-overlay"
        >
          <i class="fas fa-cog"></i>
          <i class="fas fa-cog"></i>
          <p class="pl-1">
            {{ translator.translate('beerFactory.job.plural') }}: <span id="enter-beer-factory__queued-jobs">0</span>
          </p>
        </div>

        <div id="main-stats__container" class="clickable details-modal-button" data-building-key="total">
          <h4>{{ translator.translate('plop.plural') }}: <span id="current-plops">0</span></h4>
          <h6>{{
              translator.translate(
                'plop.total',
                {
                  '__TOTAL__': '<span id="total-plops">0</span>',
                  '__MANUAL__': '<span id="manual-plops">0</span>'
                }
              ) | raw
            }}</h6>
          <h5>{{ translator.translate('autoPlops') }}: <span id="auto-plops">0</span></h5>
        </div>

        <div id="beer" class="main-beer-container" style="margin: 0 auto;">
          <a class="svg-container">
            <svg viewBox="0 0 100 100" aria-label="{{ translator.translate('aria.mainBeer') }}">
              <use xlink:href="#svg-main-beer"></use>
            </svg>
          </a>

          <div id="click-bar-container" class="d-none">
            {% for i in 1..6 %}
              <div class="click-bar-glass d-none" data-glass-id="{{ i }}">
                <div id="click-bar-glass-{{ i }}" class="click-bar-glass-content" style="height:50%"></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="buff-progress-container">
      </div>

      <div class="level-container">
        <div id="level-progress-bar"
             data-toggle="popover"
             data-trigger="hover"
             data-boundary="window"
             data-placement="top"
             title="Level status"
             data-html="true"
        >
          <div class="level-label">Level: <span id="sacrifice__level-value">0</span></div>
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:0%"
            >
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand navbar-light bg-light d-xl-none bottom-navigation">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item toggle-overlay" data-target="special-buildings">
            <a class="nav-link">{{ translator.translate('mobile.button.special') }}</a>
          </li>
          <li class="nav-item d-md-none toggle-overlay" data-target="buildings">
            <a class="nav-link">{{ translator.translate('mobile.button.buildings') }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="d-none d-md-block col-md-7 col-lg-6 col-xl-4 col-xxl-3 building-section overlay-container"
       data-overlay="buildings"
  >
    <div class="flex-container">
      <div class="close-overlay">
        <h2 class="overlay-title">{{ translator.translate('mobile.button.buildings') }}</h2>
        <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}" data-target="buildings">
          <span>&times;</span>
        </button>
      </div>

      <div class="building-section-overlay__content-container">
        <div class="upgrade-control secondary-border__bottom">
          <div>
            <span class="upgrades-title">{{ translator.translate('upgrades.title') }}:</span>
            <button id="purchase-all-available-upgrades"
                    type="button"
                    class="btn btn-secondary btn-raised btn-sm float-right"
            >
              {{ translator.translate('upgrades.buyAll') }}
            </button>
          </div>
          <br />
          <div id="upgrade-item-container"></div>
        </div>

        <div class="building-buy-control secondary-border__bottom clearfix">
          <span>{{ translator.translate('buildings.buyCharge') }}:&nbsp;</span><br />
          <div id="buy-amount-1" data-amount="1" class="buy-amount active">1</div>
          <div id="buy-amount-10" data-amount="10" class="buy-amount">10</div>
          <div id="buy-amount-100" data-amount="100" class="buy-amount">100</div>
          <div id="buy-amount-max" data-amount="max" class="buy-amount">
            {{ translator.translate('buildings.buyCharge.max') }}
          </div>

          <div id="buy-amount-custom" data-amount="50" class="buy-amount ml-5">50</div>
          <div id="buy-amount-custom__configure"
               class="buy-amount buy-amount__configure"
               aria-label="{{ translator.translate('buildings.buyCharge.configure') }}"
          >
            <i class="fas fa-cog"></i>
          </div>

          <button type="button"
                  id="buy-control__advanced-control-toggle"
                  class="btn btn-raised btn-secondary float-right d-none buy-control__advanced"
                  data-toggle="collapse"
                  data-target="#buy-control__advanced-control-collapsable-body"
                  aria-label="{{ translator.translate('buildings.advancedBuy') }}"
          >
            <i class="fas fa-angle-double-down collapsed"></i>
          </button>
        </div>
        <div id="buy-control__advanced-control-collapsable-body" class="collapse secondary-border__bottom">
          {% for automation in ['auto-buyer', 'auto-level-up', 'auto-upgrade'] %}
            <div class="d-none buy-control__advanced--{{ automation }}">
              <div class="d-flex flex-row mt-2">
                <div class="material-switch ml-4 mr-4">
                  <input id="buy-advanced__toggle-{{ automation }}" type="checkbox"/>
                  <label for="buy-advanced__toggle-{{ automation }}" class="label-warning"></label>
                </div>
                <p>
                  {{ translator.translate(
                    'buildings.advancedBuy.disable' ~ (automation | split('-') | map(p => p | capitalize) | join)
                  ) }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="buildings-flex-container">
          <div style="width: 100%">
            <div id="buildings-container">
              <h3>Buildings:</h3>
              {% for building in buildings %}
                <div class="building-container clearfix" data-building-key="{{ building }}">
                  <div id="building-container-popover-{{ building }}"
                       class="building-container-popover details-modal-button"
                       data-toggle="popover"
                       data-trigger="hover"
                       data-boundary="window"
                       data-placement="left"
                       title="{{ translator.translate('building.' ~ building ~ '.plural') }}"
                       data-html="true"
                       data-building-key="{{ building }}"
                  >
                    <svg aria-label="{{ translator.translate(
                        'aria.buildingDetails',
                        {'__BUILDING__': translator.translate('building.' ~ building ~ '.plural')}
                      ) }}"
                    >
                      <use xlink:href="#svg-{{ building }}"></use>
                    </svg>
                  </div>

                  <div id="building-container-{{ building }}" class="building">
                    <div class="float-right beerwarts__enchant-building-container d-none">
                      <i class="fas fa-magic beerwarts__enchant-building" data-building-key="{{ building }}"></i>
                      <span class="enchantment-level">
                        (<span class="enchantment-level__{{ building }}"></span>)
                      </span>
                    </div>

                    <p>
                      {{ translator.translate('building.' ~ building ~ '.plural') }}: <span class="amount-{{ building }}">0</span><br />
                      <span class="building-container__costs-label">
                        {{ translator.translate('costs') }}: {{
                          translator.translate(
                            'plopValue',
                            {'__PLOPS__': '<span id="cost-next-' ~ building ~ '" class="label-cost"></span>'}
                          ) | raw
                        }}
                      </span>
                      <span class="building-container__costs-label d-none">
                        {{ translator.translate('available') }}: <span id="available-buildings-{{ building }}"></span>
                      </span>
                    </p>
                    <div class="building-container__cloning-container">
                      <fieldset class="float-left fieldset-buy" disabled>
                        <button id="buy-building-{{ building }}"
                                type="button"
                                class="btn btn-raised btn-primary buy"
                                data-building="{{ building }}"
                        >
                          {{ translator.translate('building.' ~ building) }}
                        </button>
                      </fieldset>
                      <div class="level-up-tooltip float-right"
                           data-toggle="tooltip"
                           data-boundary="window"
                           data-placement="left"
                           data-html="true"
                      >
                        <fieldset disabled>
                          <button id="level-up-{{ building }}"
                                  type="button"
                                  class="btn btn-raised btn-secondary level-up"
                                  data-building="{{ building }}"
                          >
                            {{ translator.translate('building.levelUp', {'__LEVEL__': 'I'}) }}
                          </button>
                        </fieldset>
                      </div>
                    </div>
                    <div class="building-container__cloning-container d-none">
                      <div class="building-container__clone-tooltip"
                           data-toggle="tooltip"
                           data-boundary="window"
                           data-placement="left"
                           data-html="true"
                      >
                        <fieldset disabled>
                          <button type="button"
                                  class="btn btn-raised btn-primary building-container__clone-building"
                                  style="width:100%"
                                  data-building-key="{{ building }}"
                          >
                            {{ translator.translate('beerCloner.cloning.clone') }} <span class="clone-level"></span>
                          </button>
                        </fieldset>
                      </div>
                    </div>
                  </div>

                  <div class="toggle-minigame d-none"
                       data-toggle="collapse"
                       data-target="#minigame-collapse__{{ building }}"
                  >
                    {{ translator.translate('minigame') }}
                  </div>
                </div>
              {% endfor %}

              <div class="adv">
                <a href="https://shop.spreadshirt.de/beerplop/" target="_blank">
                  <img src="img/shirt__wish-you-were-beer.jpeg" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="achievements-container" style="display:none;">
  <div class="close-achievements">x</div>
  <div class="achievements-list"></div>
</div>

<div id="modal-container"></div>
<div id="svg-collection" style="position:absolute; width: 0; height: 0; overflow: hidden;"></div>

{% include "/View/login.twig" %}
