{% verbatim %}
  <script id="stock-market-hold-template" type="text/template">
    <br />{{ #t }}"stockMarket.activeBalance"{{ /t }}: {{ #t }}"plopValue", {"__VALUE__": "<span class='stock-market-balance'>0</span>"}{{ /t }}<br /><br />
    <table id="stock-market-hold-table" class="table table-hover">
      <thead>
        <tr>
          <th>{{ #t }}"stockMarket.table.stock"{{ /t }}</th>
          <th class="d-none d-sm-table-cell">{{ #t }}"stockMarket.table.method"{{ /t }}</th>
          <th class="d-none d-xl-table-cell">{{ #t }}"stockMarket.table.amount"{{ /t }}</th>
          <th class="d-none d-md-table-cell">{{ #t }}"stockMarket.table.lever"{{ /t }}</th>
          <th>{{ #t }}"stockMarket.table.balance"{{ /t }}</th>
          <th class="d-none d-lg-table-cell">{{ #t }}"stockMarket.table.startInvestment"{{ /t }}</th>
          <th class="d-none d-lg-table-cell">{{ #t }}"stockMarket.table.start"{{ /t }}</th>
          <th class="d-none d-sm-table-cell">{{ #t }}"stockMarket.table.current"{{ /t }}</th>
          <th class="d-none d-sm-table-cell">{{ #t }}"stockMarket.table.breakEven"{{ /t }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="hold-graph-accordion">
        {{ #holds }}
          <tr data-toggle="collapse" href="#hold-graph-{{ id }}" data-parent="#hold-graph-accordion" class="clickable">
            <td>{{ name }}</td>
            <td class="d-none d-sm-table-cell">{{ method }}</td>
            <td class="d-none d-xl-table-cell">{{ amount }}</td>
            <td class="d-none d-md-table-cell">1:{{ lever }}</td>
            <td>{{ #t }}"plopValue", {"__VALUE__": "<span class='stock-market-balance__{{ id }}'>0</span>"}{{ /t }}</td>
            <td class="d-none d-lg-table-cell">{{ investment }}</td>
            <td class="d-none d-lg-table-cell">{{ startValue }}</td>
            <td class="d-none d-sm-table-cell {{ key }}-value"></td>
            <td class="d-none d-sm-table-cell">{{ breakEven }}</td>
            <td>
              <button type="button" class="btn btn-raised btn-secondary close-stock" data-stock-id="{{ id }}">
                {{ #t }}"stockMarket.hold.close"{{ /t }}
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div  id="hold-graph-{{ id }}" class="collapse hold-graph-collapse" data-hold-id="{{ id }}">
                <div class="hold-graph" id="hold-graph-{{ id }}-container"></div>
              </div>
            </td>
          </tr>
        {{ /holds }}
      </tbody>
    </table>
  </script>
{% endverbatim %}