{% verbatim %}
  <script id="level-status-template" type="text/template">
    {{ #t }}"sacrifice.level"{{ /t }}: {{ level }}<br />
    {{ #t }}"sacrifice.beermats"{{ /t }}: {{ beermats }}
    <hr />
    <p>
      {{ #sacrificeEnabled }}
        {{ #t }}"sacrifice.description", {"__BEERMATS__": "{{ level }}"}{{ /t }}
      {{ /sacrificeEnabled }}
      {{ ^sacrificeEnabled }}
        {{ #t }}"sacrifice.limit", {"__LEVEL__": "{{ minimumLevel }}"}{{ /t }}
      {{ /sacrificeEnabled }}
    </p>

    {{ #infinitySacrifice }}
      <p>{{ #t }}"infinitySacrifice.description"{{ /t }}</p>
    {{ /infinitySacrifice }}
    <hr />
    {{ #t }}"sacrifice.boost", {"__BOOST__": "{{ levelBonus }}"}{{ /t }}
  </script>
{% endverbatim %}